.container {
  display: flex;
  gap: 100px;
}

.textContainer {
  flex: 1;
}

.title {
  font-size: 65px;
  margin-bottom: 10px;
}

.desc {
  font-size: 15px;
  line-height: 2;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.button {
  padding: 15px;
  min-width: -20px;
  height: 50px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.button:hover {
  filter: brightness(90%);
}

.button:first-child {
  background-color: var(--btn);
  color: var(--text);
}

.button:last-child {
  background-color: var(--text);
  color: var(--btn);
}

.brands {
  width: 500px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  filter: grayscale(100%);
}

.brandImg {
  filter: brightness(40%);
}

.imgContainer {
  flex: 1;
  position: relative;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .buttons {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 58px;
  }
  .desc {
    font-size: 12px;
  }

  .brands {
    width: 100%;
  }
}
