.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.form input {
  padding: 20px;
  background-color: var(--bg);
  color: var(--textColor);
  border: none;
  border-radius: 5px;
}

.form button {
  padding: 20px;
  background-color: var(--btn);
  color: var(--textColor);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: medium;
}

.form button:hover {
  filter: brightness(120%);
  cursor: pointer;
}

.loginBtn:hover {
  color: var(--btn);
}
